<div class="login-main">

    <!-- <div class="login-side2">
        <div class="login-side2-div">
            <img class="login-side2-image" src="../../../../assets/images/Logo2.png" alt="">
            <span class="txt-title-side2">Voluntary Turnover Prediction System</span>
        </div>
    </div> -->
    <form class="login-side1" (ngSubmit)="onSubmit()" [formGroup]="userForm">
        <div class="login-side1-div">
        <div class="login-side1-row">
            <span class="new-line "></span>
            <img class="login-side2-image" src="../../../../assets/images/Logo2.png" alt="">
            <span class="new-line "></span>

        </div>
        <div class="login-side1-row">
            <h2 class="welcome">Log in to your account with</h2>
            <!-- <p class="welcome_des">Welcome back. Please login to your account</p> -->
        </div>
        <span class="new-line "></span>
        <div class="login-side1-row">
            <div style="display: flex;flex-direction: column;">
                <label style="font-weight: 500;">Email</label>
            <mat-form-field class="ultra-max-field" appearance="outline">
                <input  matInput placeholder="email"  formControlName="email"  [(ngModel)]="signInModel.email">
                <button mat-icon-button matSuffix type="button">
                    <mat-icon style="color: gray;">email</mat-icon>
                </button>
                <mat-error *ngIf="email?.hasError('required')">Email cannot be empty
                </mat-error>
            </mat-form-field>
            </div>
        </div>
        <div class="login-side1-row">
            <div style="display: flex;flex-direction: column;">
                <label style="font-weight: 500;">Password</label>
            <mat-form-field class="ultra-max-field" appearance="outline">
                <input matInput  placeholder="password" [type]="hide ? 'password' : 'text'" formControlName="password"  [(ngModel)]="signInModel.password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide" type="button">
                    <mat-icon style="color: gray;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="password?.hasError('required')">Password cannot be empty
                </mat-error>
            </mat-form-field>
            </div>
        </div>
        <span class="new-line "></span>
        <div class="login-side1-row">
            <button type="submit" class="btn-login"
                mat-flat-button>LOG IN</button>
        </div>
        <span class="new-line "></span>
        <!-- <div class="login-side1-row" style="display: flex;justify-content: center;align-items: center;">
            <p class="des">Forgot Password ? </p>

        </div>
        <div class="login-side1-row" style="display: flex;justify-content: center;align-items: center;">
            <p class="des"  (click)="signUp()"><span class="txt_register">Register</span> </p>

        </div> -->
    </div>
    </form>
</div>
